* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: brown;
    padding-left: 10%;
}

body {
    background-color: rgba(43, 42, 42, 0.167);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgba(4, 4, 72, 0.668);
    
}

nav {
    width: 100%;
    height: 5%;
    background-color: rgb(231, 109, 109);
    text-align: center;

}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    
}


#content{
    flex: 1 0 auto;
    padding: 20px;
}
#HollowKnight{
    position: relative;
    display: inline-block;
}

#HollowText{
    display: none;
    position: relative;
    left: 115%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    font-weight: bold;
}
#HollowKnight:hover #HollowText{
    display: block;
    width: 100%;
}
#undertale img{
    width: 33%;
}


footer{
    height: 10px;
    margin-top: auto;
    padding:  20px;
    background-color: black;
    color: white;
    text-align: center
    


}



@media screen and (orientation: portrait) {
    #HollowText{

         display: flex;
         left: 50%;
    }
    #undertale img{

        width: 100%;
    }
    img{

        width: 100%;
    }
    #content{
        order: 2;
    }
 



}